/**
 * @author UMU618 <umu618@hotmail.com>
 * @copyright MEET.ONE 2019
 * @description Use block-always-using-brace npm-coding-style.
 */

'use strict'

const TOKEN = ''
const SECRET = ''

module.exports = Object.freeze({
  url: 'https://mainnet.meet.one'
  , maxRetry: 3
  , infoToken: TOKEN
  , infoSecret: SECRET
  , errorToken: TOKEN
  , errorSecret: SECRET
})
